<h1 class="text-zinc-300">Dashboard</h1>

<ul>
  <li>
    <.link
      href={~p"/users/settings"}
      class="text-[0.8125rem] leading-6 text-zinc-300 font-semibold hover:text-zinc-400"
    >
      Settings
    </.link>
  </li>
  <li>
    <.link
      href={~p"/users/log_out"}
      method="delete"
      class="text-[0.8125rem] leading-6 text-zinc-300 font-semibold hover:text-zinc-400"
    >
      Log out
    </.link>
  </li>
</ul>
