<h1 class="text-2xl">Home page</h1>

<ul>
  <li>
    <.link
      href={~p"/users/register"}
      class="text-[0.8125rem] leading-6 text-zinc-300 font-semibold hover:text-zinc-400"
    >
      Register
    </.link>
  </li>
  <li>
    <.link
      href={~p"/users/log_in"}
      class="text-[0.8125rem] leading-6 text-zinc-300 font-semibold hover:text-zinc400"
    >
      Log in
    </.link>
  </li>
</ul>
